/* ================================= 
  Base Element Styles
==================================== */

* {
	
	box-sizing: border-box;
}

body {
	
	font-family: 'Nunito', sans-serif;
	background-color: #F2F2F2;
}

p {
	font-size: 1.2em;
	padding: 1.5em;
	color: #505050;
}

a {
	text-decoration: none;
}

a:hover {
	color: darkslategrey;
}


ul {
	list-style-type: none;
}

.main-header li:hover {
	
	background-color: #fed36e;
}

h1,
h2,
h3,
a {
	color: #171717;
}

h1,
h2,
h3,
h4,
p {
	text-align: center;
}

h2 {
	text-transform: uppercase;
	font-size: .95em;
	font-weight: bold;
}

img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}




/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding: 1em 0;
}

.main-nav {
	margin-left: auto;
	margin-right: auto;
	
}

.main-nav  li {
	
	background-color: white;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-size: .90em;
	text-align: center;
	
}


.main-nav a {
	display: inline-block;
	padding: 15px 0;
	margin: 0 auto;
}

.main-content img {
	
	padding: 2em;
}

/* ---- Layout Containers ---- */

.profile-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.main-content {
	background-color: white;
	padding: 3em 0;
}

.banner {
	padding: 2em 0;
}

footer h2 {
	padding-top: 3em;
}


/* ---- Page Elements ---- */

.contact {
	border-bottom: 1px solid lightgrey;
	width: 90%;
	margin: auto;
}

.contact a {
	
	color: #505050;
}


.name-footer {
	float: left;
}

.to-top {
	float: right;
}

/* ================================= 
  Media Queries
==================================== */

/*tablets*/

@media (min-width: 768px) {
	
	.main-header {
		background: #fff;
	}
	
	/* navigation + banner*/
	
	
	.main-nav {
		margin: 0 auto;
		text-align: center;
	}
	
	
	.main-nav li {
		display: inline-block;
		margin-left: 15px;
		padding: 0 10px;
	}
	
	.profile-img {
		float: right;
		margin: 0 1.5em;
	}
	
	.banner p {
		
		text-align: left;
	}
	
	/*main content floats*/
	
	
	
	.portfolio-1 {
		display: inline-block;
		width: 50%;
	}
	
	.portfolio-2 {
		display: inline-block;
		float: right;
		width: 50%;
	}
	
	.portfolio-3 {
		display: inline-block;
		width: 50%;
	}
	
	.portfolio-4 {
		display: inline-block;
		float: right;
		width: 50%;
	}
	
	.portfolio-5 {
		display: inline-block;
		width: 50%;
	}
	
	.portfolio-6 {
		display: inline-block;
		float: right;
		position: absolute;
		width: 50%;
	}
	
	
	/*float clearfix*/
	
	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	
	
	
}

/*fullscreen*/

@media (min-width: 1024px) {
	
	/*banner/header*/
	
	.main-header {
		width: 100%;
		position: fixed;
		top: 0;
		z-index: 1000;
	}
	
	.banner {
		padding-top: 145px;
	}
	
	/*navigation*/
	
	.main-nav {
		float: right;
		padding: 2em;
	}
	
	.name {
		
		float: left;
		padding-left: 1em;
	}
	
	/*main content*/
	
	.portfolio-1 {
		float: left;
		width: 33%;
	}
	
	.portfolio-2 {
		float: none;
		width: 33%;
	}
	
	.portfolio-3 {
		float: right;
		width: 33%;
	}
	
	.portfolio-4 {
		float: left;
		width: 33%;
	}
	
	.portfolio-5 {
		float: none;
		width: 33%;
	}
	
	.portfolio-6 {
		float: right;
		width: 33%;
		position: absolute;
	}
	
	
	
	/*float clearfix*/
	
	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	
	}
}
	
	




